In [17]:
import pandas as pd

In [18]:
df=pd.read_csv('udemy_courses.csv')
df

,course_id,course_title,url,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject
0,1,Ultimate Investment Banking Course,https://www.udemy.com/ultimate-investment-bank...,TRUE,200,2147,23,51,All Levels,1.5 hours,2017-01-18T20:58:58Z,Business Finance
1,2,Complete GST Course & Certification - Grow You...,https://www.udemy.com/goods-and-services-tax/,TRUE,75,2792,923,274,All Levels,39 hours,2017-03-09T16:34:20Z,Business Finance
2,3,Financial Modeling for Business Analysts and C...,https://www.udemy.com/financial-modeling-for-b...,TRUE,45,2174,74,51,Intermediate Level,2.5 hours,2016-12-19T19:26:30Z,Business Finance
3,4,Beginner to Pro - Financial Analysis in Excel ...,https://www.udemy.com/complete-excel-finance-c...,TRUE,95,2451,11,36,All Levels,3 hours,2017-05-30T20:07:24Z,Business Finance
4,5,How To Maximize Your Profits Trading Options,https://www.udemy.com/how-to-maximize-your-pro...,TRUE,200,1276,45,26,Intermediate Level,2 hours,2016-12-13T14:57:18Z,Business Finance
...,...,...,...,...,...,...,...,...,...,...,...,...
3678,3679,Learn jQuery from Scratch - Master of JavaScri...,https://www.udemy.com/easy-jquery-for-beginner...,TRUE,100,1040,14,21,All Levels,2 hours,2016-06-14T17:36:46Z,Web Development
3679,3680,How To Design A WordPress Website With No Codi...,https://www.udemy.com/how-to-make-a-wordpress-...,TRUE,25,306,3,42,Beginner Level,3.5 hours,2017-03-10T22:24:30Z,Web Development
3680,3681,Learn and Build using Polymer,https://www.udemy.com/learn-and-build-using-po...,TRUE,40,513,169,48,All Levels,3.5 hours,2015-12-30T16:41:42Z,Web Development
3681,3682,CSS Animations: Create Amazing Effects on Your...,https://www.udemy.com/css-animations-create-am...,TRUE,50,300,31,38,All Levels,3 hours,2016-08-11T19:06:15Z,Web Development
3682,3683,Using MODX CMS to Build Websites: A Beginner's...,https://www.udemy.com/using-modx-cms-to-build-...,TRUE,45,901,36,20,Beginner Level,2 hours,2014-09-28T19:51:11Z,Web Development

In [19]:
df.subject.value_counts()

Web Development        1200
Business Finance       1199
Musical Instruments     681
Graphic Design          603
Name: subject, dtype: int64

In [43]:
df1=df.sort_values(['subject','num_reviews'])
df1

,course_id,course_title,url,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject
215,216,Preparation of Consolidated Financial Statemen...,https://www.udemy.com/preparation-of-consolida...,FALSE,Free,965,0,18,Intermediate Level,1.5 hours,2017-06-28T20:37:13Z,Business Finance
258,259,Fundamentals of Accounting for Business Owners,https://www.udemy.com/fundamentals-of-accounti...,TRUE,20,217,0,47,Beginner Level,2.5 hours,2017-02-06T16:35:44Z,Business Finance
381,382,Covered Calls - Powerful Income Strategy for S...,https://www.udemy.com/covered-calls-income-str...,TRUE,60,22,0,8,Beginner Level,1 hour,2017-07-03T15:13:33Z,Business Finance
407,408,Corporate Internal Controls and Fraud Controls,https://www.udemy.com/corporate-internal-contr...,TRUE,50,1,0,12,Intermediate Level,2 hours,2017-06-29T17:27:52Z,Business Finance
410,411,Trading Options Basics,https://www.udemy.com/trading-options-basics/,TRUE,200,8,0,8,Beginner Level,1.5 hours,2016-07-01T03:13:22Z,Business Finance
...,...,...,...,...,...,...,...,...,...,...,...,...
3259,3260,Modern React with Redux,https://www.udemy.com/react-redux/,TRUE,180,50815,15117,150,All Levels,26.5 hours,2015-12-28T19:20:21Z,Web Development
3252,3253,JavaScript: Understanding the Weird Parts,https://www.udemy.com/understand-javascript/,TRUE,175,79612,16976,85,All Levels,11.5 hours,2015-03-12T23:19:54Z,Web Development
3209,3210,Angular 4 (formerly Angular 2) - The Complete ...,https://www.udemy.com/the-complete-guide-to-an...,TRUE,190,73783,19649,329,All Levels,22 hours,2016-02-11T07:29:29Z,Web Development
3237,3238,The Complete Web Developer Course 2.0,https://www.udemy.com/the-complete-web-develop...,TRUE,200,114512,22412,304,All Levels,30.5 hours,2016-03-08T22:28:36Z,Web Development
3235,3236,The Web Developer Bootcamp,https://www.udemy.com/the-web-developer-bootcamp/,TRUE,200,121584,27445,342,All Levels,43 hours,2015-11-02T21:13:27Z,Web Development

In [42]:
df2=pd.DataFrame(df.groupby(['subject','num_reviews']))
# for key, item in df2:
#     print(df2.get_group(key), "\n\n")
df2

,0,1
0,"(Business Finance, 0)",course_id ...
1,"(Business Finance, 1)",course_id ...
2,"(Business Finance, 2)",course_id ...
3,"(Business Finance, 3)",course_id ...
4,"(Business Finance, 4)",course_id ...
...,...,...
849,"(Web Development, 15117)",course_id course_title ...
850,"(Web Development, 16976)",course_id ...
851,"(Web Development, 19649)",course_id ...
852,"(Web Development, 22412)",course_id cour...
853,"(Web Development, 27445)",course_id course_title \...